<!-- <app-navbar></app-navbar> -->
<div class="dashboard-container">
  <h2>Welcome to the Dashboard!</h2>
  <!-- | currency  -->
  <!-- | currency  -->
  <!-- Display balance in h1 tag -->
  <h1>Balance: {{ balance }}</h1>

  <div class="balance-container">
    <div class="balance-item">
      <label>Final Balance:</label>
      <span>{{ finalBalance }}</span>
    </div>
  </div>


  <div class="account-info-container">
    <h3>Account Details</h3>
    <p><strong>Name:</strong> {{ firstname }} {{ lastname }}</p>
    <p><strong>Email:</strong> {{ gmail }}</p>
    <p><strong>Phone:</strong> {{ mobilenumber }}</p>
  </div>

  <div class="button-container">
    <button (click)="getAccountInfo()">Get Account Info</button>
    <button (click)="navigateToTransfer()">Transfer</button>
    <button (click)="navigateToDeposit()">Deposit</button>
    <button (click)="navigateToWithdraw()">Withdraw</button>
    <button (click)="navigateToTransactionHistory()">Show Transaction History</button>  
  </div>
</div>
